.div3{
    width: 22.1875rem;
    height: 6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: .0625rem solid var(--color-grey-2);
    border-radius: .25rem;
    margin-top: 1rem;
}

.h22{
    width: 9.625rem;
    font-weight: 700;
    font-size: 1rem;
    font-family: var(--font-nunito);

}

.pp{
    width: 5.625rem;
    font-family: var(--font-nunito);
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-primary);
}

.pp2{
    width: 8.75rem;
    font-family: var(--font-nunito);
    font-weight: 400;
    font-size: .75rem;
    color: var(--color-grey-3);
}