.div3{
     display: flex;
    flex-wrap: wrap;
    width: 22.1875rem;
    height: 7rem;
   
    border: .0625rem solid var(--color-grey-2);
    border-radius: .25rem;
    margin-left: 16.3125rem;
    margin-top: 25px;
    
}

.h22{
    width: 11.625rem;
    font-weight: 700;
    font-size: 1rem;
    font-family: var(--font-nunito);
    padding-left: 1.4375rem;
    padding-top: 1.25rem;

}

.pp{
    width: 6.625rem;
    height: 1.875rem;
    font-family: var(--font-nunito);
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-primary);
    padding-left: 1rem;
    padding-top: 1.25rem;
   
}

.pp2{
    width: 8.75rem;
    font-family: var(--font-nunito);
    font-weight: 400;
    font-size: .75rem;
    color: var(--color-grey-3);
     padding-left: 1.4375rem;
}

@media(max-width: 50rem) {
    .div3{
        margin-left: 1rem;
        width: 22.1875rem;
        height: 7rem;
        border: .0625rem solid var(--color-grey-2);
        border-radius: .25rem;

    }

    .h22{
        width: 5.3125rem;
        font-weight: 700;
        font-size: 1rem;
        font-family: var(--font-nunito);
        margin-left: 1.rem;
        padding-top: .5rem;
        height: 1.875rem;
        margin-top: 1.rem;

    
    }
    
    .pp{
        width: 7.875rem;
        height: 1.875rem;
        font-family: var(--font-nunito);
        font-weight: 700;
        font-size: 1rem;
        color: var(--color-primary);
        padding-left: 1rem;
        padding-top: 1.25rem;
        margin-left: 100px;
       
    }
    
    .pp2{
        width: 8.75rem;
        font-family: var(--font-nunito);
        font-weight: 400;
        font-size: .75rem;
        color: var(--color-grey-3);
         padding-left: 1.4375rem;
         margin-bottom: 1.25rem;
    }
}