

.formulario{
    display: flex;
    flex-direction: column;
    width: 22.1875rem;
    height: 27.125rem;
    border: .0625rem solid var(--color-grey-3);
    margin-top: 2.4375rem;
    border-radius: .5rem;
    margin-left: 16.3125rem;
}

.div1{
    flex-wrap: wrap;
    width: 19.625rem;
    height: 6.875rem;
    margin: 0 auto;
    margin-top: 1.25rem;
}

.label1{
    margin-left: .625rem;
    
    
}

.p1{
    width: 7.875rem;
    height: 1.25rem;
    margin: .625rem;
    font-family: var(--font-inter);
    font-size: .75rem;
    font-weight: 400;
}

.iput{
    width: 16.625rem;
    height: 3rem;
    border: 2px solid var(--color-grey-3);
    border-radius: .5rem;
   padding-left: 1rem;
   margin-inline: .625rem;
   margin-block: .75rem;
   background-color: var(--color-grey-1);
   
}

.div2{
    flex-wrap: wrap;
    width: 19.625rem;
    height: 11.5rem;
    margin: 0 auto;
    margin-top: 1.25rem;
}

.label2{
    margin-left: .625rem;
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: .75rem;
}

.input2{
    width: 16.625rem;
    height: 3rem;
    border: 2px solid var(--color-grey-3);
    border-radius: .5rem;
   padding-left: 1rem;
   margin-inline: .625rem;
   margin-top: .625rem;
   background-color: var(--color-grey-1);
}

.label3{

    width: 4.625rem;
    height: 1.375rem;
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: .75rem;
    margin-top: 15px;
    margin-left: .625rem;
}

.selec1{
    width: 17.925rem;
    height: 3rem;
    border: 2px solid var(--color-grey-3);
    border-radius: .5rem;
   padding-left: 1rem;
   margin-inline: .625rem;
   margin-top: 10px;
   font-family: var(--font-inter);
   font-weight: 400;
   font-size: .75rem;
   background-color: var(--color-grey-1);
}

.botao{
    width: 17.925rem;
    height: 3rem;
    border: 2px solid var(--color-primary);
    border-radius: .5rem;
   padding-left: 1rem;
   margin-left: 1.75rem;
   margin-top: 1.625rem;
   background-color: var(--color-primary);
   font-weight: 500;
   font-size: 1rem;
   font-family: var(--font-inter);
   color: var(--color-grey-1);
}

@media(max-width: 37.5rem){
    .formFinance{
        width: 22.1875rem;
    }
    
    .formulario{
        display: flex;
        flex-direction: column;
        width: 22.1875rem;
        height: 27.125rem;
        border: .0625rem solid var(--color-grey-3);
        margin-top: 1.4375rem;
        border-radius: .5rem;
        margin-left: 1rem;
    }
}
