

.formulario{
    display: flex;
    flex-direction: column;
    width: 22.1875rem;
    height: 27.125rem;
    border: 1px solid var(--color-borda);
    margin-top: 2.4375rem;
    border-radius: .5rem;
    margin-left: 16.3125rem;
}

.divisao1{
    flex-wrap: wrap;
    width: 19.625rem;
    height: 6.875rem;
    margin-left: 1.3125rem;
    margin-top: 1.875rem;
}

.etiqueta1{
    width: 3.5625rem;
    height: 1.375rem;
    font-family: var(--font-inter);
    font-size: .75rem;
    font-weight: 400;
    
    
}

.p1{
    width: 7.875rem;
    height: 1.25rem;
    font-family: var(--font-inter);
    font-size: .75rem;
    font-weight: 400;
    margin-top: .275rem;
}

.entrada1{
    width:  18.3000rem;
    height: 3.3rem;
    border: 2px solid var(--color-grey-3);
    border-radius: .5rem;
    background-color: var(--color-grey-1);
    margin-top: .7562rem;
    padding-left: 1rem;
    font-family: var(--font-inter);
    font-size: 1rem;
   
}

.divisao2{
    flex-wrap: wrap;
    width: 19.625rem;
    height: 10.5rem;
    margin-left: 1.3125rem;
}

.etiqueta2{
    width: 3.5625rem;
    height: 1.375rem;
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: .75rem;
}

.entrada2{
    width: 18.3125rem;
    height: 3rem;
    border: 2px solid var(--color-grey-3);
    border-radius: .5rem;
   background-color: var(--color-grey-1);
   margin-top: .5625rem;
   padding-left: 1rem;

}

.etiqueta3{

    width: 4.625rem;
    height: 1.375rem;
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: .75rem;
    margin-top: .625rem;
}

.selecionar1{
    width: 19.5625rem;
    height: 3rem;
    border: 2px solid var(--color-grey-3);
    border-radius: .5rem;
   padding-left: 1rem;
   font-family: var(--font-inter);
   font-weight: 400;
   font-size: .75rem;
   background-color: var(--color-grey-1);
   margin-top: .5625rem;
}

.botao{
    width: 19.625rem;
    height: 3rem;
    border: 2px solid var(--color-primary);
    border-radius: .5rem;
   padding-left: 1rem;
   margin-left: 1.3125rem;
   margin-top: 1.625rem;
   background-color: var(--color-primary);
   font-weight: 500;
   font-size: 1rem;
   font-family: var(--font-inter);
   color: var(--color-grey-1);
   line-height: 1.1875rem;
}

@media(max-width: 50rem){
    .formularioFinanceiro{
        width: 22.1875rem;
    }
    
    .formulario{
        display: flex;
        flex-direction: column;
        width: 22.1875rem;
        height: 27.125rem;
        border: .0625rem solid var(--color-grey-3);
        margin-top: 1.4375rem;
        border-radius: .5rem;
        margin-left: 1rem;
    }
}
