.secLista{
    width: 560px;
    height: 28.75rem;
    margin-top: 2.4375rem;
    gap: 1rem;
}

.h23{
    width: 8.75rem;
    height: 1.875rem;
    font-family: var(--font-nunito);
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-grey-4);
    margin-left: 3rem;
}

@media(max-width: 37.5rem){
   

   
    .secLista{
        width: 22.1875rem;
        height: 28.75rem;
        margin-top: 2.4375rem;
        margin-left: 1.0625rem;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        align-content: center;
        flex-direction: column;
        display: block;
        margin-bottom: 2.875rem;
    }
     .h23{
        margin-left: 1rem;
        align-self: self-start;
    
} 

}