.bruto{
    width: 93.75rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: var(--font-nunito);
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-grey-4);
    
}