.selecionar5{
    width: 100%;
    height: 100%;
    margin-top: -390px;
}

.divisaob{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35rem;
    height: 5.625rem;
    gap: 2rem;
    
}

li{
    display: flex;
    background-color: var(--color-grey-1);
    border-radius: .25rem;
    border-left: .25rem solid var(--color-secundary);
    
}

.card{
    display: flex;
    background-color: var(--color-grey-1);
    border-radius: .25rem;
    border-left: .25rem solid var(--color-grey-2);
    
}

.divisaott{
    width: 21.8125rem;
    height: 77px;
    display: flex;
    flex-direction: column;
}

.h2b{
    width: 20.25rem;
    height: 2.4375rem;
    font-family: var(--font-nunito);
    font-weight: 700;
    font-size: 1rem;
    padding-top: .5rem;
    padding-left: .75rem;
    line-height: 1.875rem;
    
    


}

.ps{
    width: 4.375rem;
    font-family: var(--font-nunito);
    font-weight: 400;
    font-size: .75rem;
    padding-top: 1.4375rem;
    padding-left: 130px;
    line-height: 1.375rem;


}

.botao{
    width: 3.1875rem;
    height: 1.375rem;
    font-family: var(--font-nunito);
    font-size: .625rem;
    font-weight: 400;
    border-radius: .25rem;
    margin-left: 8.905rem;
    margin-top: .625rem;
    background-color: var(--color-grey-2);
}

.po{
    width: 4.0625rem;
    height: 1.875rem;
    font-family: var(--font-nunito);
    font-size: .75rem;
    font-weight: 400;
    padding-left: .75rem;
    line-height: 1.375rem;
}

@media(max-width: 50rem){
    .selecionar5{
        width: 100%;
        height: 100%;
        margin-bottom: 3.125rem;
        margin-left: 1rem;
        margin-top: 20px;
    }
    .divisaob{
        height: 100%;
        width: 100%;
        display: flex;

    }

    li{
        flex-direction: column;
        background-color: var(--color-grey-1);
        border-radius: .25rem;
        border-left: .25rem solid var(--color-secundary);
        width: 22.1875rem;
        height: 10rem;
       
    }
    .h2b{
        width: 21.0625rem;
        height: 2.4375rem;
        font-family: var(--font-nunito);
        font-weight: 700;
        font-size: 1rem;
        padding-top: .5rem;
        padding-left: .75rem;
    
    }
    

    .ps{
        width: 7.375rem;
        height: 1.375rem;
        font-family: var(--font-nunito);
        font-weight: 400;
        font-size: .75rem;
        margin-left: -7.25rem;
        
    }
    
    .botao{
        height: 1.1875rem;
        width: 3rem;
        font-family: var(--font-nunito);
        font-size: .625rem;
        font-weight: 400;
        border-radius: .25rem;
        margin-left: 20px;
        margin-bottom: 6px;
        
    
    }
    
    .po{
        width: 4.0625rem;
        height: 1.875rem;
        font-family: var(--font-nunito);
        font-size: .75rem;
        font-weight: 400;
        padding-left: .75rem; }

}
