.divb{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 35rem;
    height: 5.625rem;
    background-color: var(--color-grey-1);
    border-radius: .25rem;
    border-left: .25rem solid var(--color-secundary);
    margin-left: 3rem;
    margin-bottom: .875rem;
}



.h2b{
    width: 21.25rem;
    font-family: var(--font-nunito);
    font-weight: 700;
    font-size: 1rem;
    


}

.ps{
    width: 4.375rem;
    font-family: var(--font-nunito);
    font-weight: 400;
    font-size: .75rem;

}

.botao{
    width: 3.1875rem;
    height: 1.375rem;
    font-family: var(--font-nunito);
    font-size: .625rem;
    font-weight: 400;
    border-radius: .25rem;
    margin-left: 1.25rem;
}

.po{
    width: 4.0625rem;
    height: 1.875rem;
    font-family: var(--font-nunito);
    font-size: .75rem;
    font-weight: 400;
}

@media(max-width:37.5rem){
    .divb{
        display: block;
        height: auto;
        width: 22.1875rem;
        
    }
    .h2b{
        width: 21.25rem;
        font-family: var(--font-nunito);
        font-weight: 700;
        font-size: 1rem;
        padding-left: .875rem;
    
    
    }
    
    .ps{
        width: 4.375rem;
        font-family: var(--font-nunito);
        font-weight: 400;
        font-size: .75rem;
        padding-left: .875rem;
    }
    
    .botao{
        width: 3.1875rem;
        height: 1.375rem;
        font-family: var(--font-nunito);
        font-size: .625rem;
        font-weight: 400;
        border-radius: .25rem;
        margin-left: 1.25rem;
    }
    
    .po{
        width: 4.0625rem;
        height: 1.875rem;
        font-family: var(--font-nunito);
        font-size: .75rem;
        font-weight: 400;
        padding-left: .875rem;
    }

}
